# Python
__pycache__/
*.py[cod]
venv/
*.egg-info/

# Node / Expo
node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
android/app/build/
android/.gradle/
android/build/
android/local.properties

# iOS
ios/Pods/
ios/build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Personal
ngrok.exe
repomix-output.xml
*.zip